<%- include('header') -%>

    <div class = box id = "heading">
        <h1><%= listtype %> </h1>
    </div>
    

    <div class = "box">
        <% for (let i = 0;i < items.length;i++){ %>
        <div class = "item">
            <input type="checkbox">
            <p><%= items[i] %></p>
        </div>
        <%} %>

        <form class = "item" action = "/add" , method="post">
            <input type="text" name = "newitem" placeholder="New Item" autocomplete="off">
            <button type="submit" name = "button" value = "<%= listtype %>">+</button> <!--Specifying the value in the button
                We can get this value of button when we use req.body.button to identify button states-->
        </form>
    </div>
    
    <%- include('footer') -%>

